
.card1{
  box-shadow: 0px 8px 8px 0px #D93939; 
   
}


.card2{
  box-shadow: 0px 3px 3px 0px #D93939;     
   border-radius: 10px;
}

.tab{
  text-align: center;
}
.car1{
  height:200px; 
  text-align: center
}
.car2{
  height:285px;
   text-align: center ; 
   align-content: center;
}
.image1{
  height:200px;
}

.image{
  margin:10px 0px 30px 0px;
}
